__pycache__/*
Games/agents/__pycache__/*
Games/agents/agent.py
Games/agents/gpt_greedy_corners_agent.py
Games/agents/human_agent.py
Games/agents/random_agent.py

Games/constants.py

Games/helpers.py
Games/README.md
Games/requirements.txt
Games/store.py
Games/ui.py
Games/utils.py
Games/world.py
Games/README.md
Games/simulator.py
Report & Final stuff/Report/Project_Report.aux
Report & Final stuff/Report/Project_Report.fdb_latexmk
Report & Final stuff/Report/Project_Report.fls
Report & Final stuff/Report/Project_Report.log
Report & Final stuff/Report/Project_Report.synctex.gz