__pycache__/*
agents/__pycache__/*
agents/agent.py
agents/gpt_greedy_corners_agent.py
agents/human_agent.py
agents/random_agent.py

constants.py

helpers.py
README.md
requirements.txt
store.py
ui.py
utils.py
world.py
README.md
simulator.py
